<%#
 Copyright 2016 Chen RuiWei <crwbak@gmail.com>
 Licensed to the public under the Apache License 2.0.
-%>

<% include("cbi/map") %>
<script type="text/javascript">//<![CDATA[
	XHR.poll(2, '<%=luci.dispatcher.build_url("admin", "services", "koolproxy", "status")%>', null,
		function(x, result)
		{
			var status = document.getElementsByClassName('koolproxy_status');
			status[0].innerHTML = result.running?'<font color=green><%=translate("广告过滤大师 Plus+ 运行中")%></font>':'<font color=red><%=translate("<font color=\"red\">广告过滤大师 Plus+ 未运行</font></strong>")%></font>';
		}
	);
//]]>
</script>
